<h1 class="mt-4">Admin Dashboard</h1>
<p class="lead mb-3">Admin Page for <%= user.name %></p>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
<br>
<br>
<h1>User List</h1>
<br>
<br>
<ul>
    <% Object.keys(activeUsers).forEach(function(sessionId) { %>
    <li>
        <%= activeUsers[sessionId].name %> (User ID: <%= activeUsers[sessionId].id %>)(User Role: <%= activeUsers[sessionId].role %>)
    <a href="/admin/revoke?session=<%= sessionId %>" class="revoke-link">Revoke User</a>
    </li>
    <% }); %>
</ul>